header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 69, 79);
}

header > h1 {
  color: white;
  font-size: 30px;
}

header h2 {
  color: white;
  font-size: 25px;
  margin-top: 5px;
  /* make digits same width to avoid shifting when number changes */
  font-variant-numeric: tabular-nums;
}

.plan-selector-button {
  width: 100px;
}

#plan-selector-button-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0.5px solid black;
  margin-left: 15px;
}

#plan-selector-button-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0.5px solid black;
}
