#course-selector-popup {
    position: fixed;
    top: 5vh;
    left: 5vw;
    height: 90vh;
    width: 90vw;
    border: 1px solid black;
    text-align: center;
    background-color: lightgray;
}

.course-box {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.course-box:hover {
    background-color: lightyellow;
}

.course-box > p  {
    font-size: 10px;
    text-align: center;
}

.course-description {
    font-size: 14px;
}

.exit-button {
    position: absolute;
    font-size: xx-small;
    top: 5px;
    left: 5px;
    height: 35px;
    width: 35px;
}

.course-info-section {
    width: 30%;
}

.available-courses-section {
    width: 70%;
}

/* course box colours */

.course-box-selected {
    background-color: rgb(193, 225, 193);
}

.course-box-prerequisite {
    background-color: rgb(250, 200, 152);
}

.course-box-postrequisite {
    background-color: rgb(167, 199, 231);
}

.course-box-unselected {
    background-color: wheat;
}
